:root{
    --font-color: #fff;
    --input-color: #32195447;
    --angle: 0deg;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.35rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background-color: #efebceb8;*/
    /*background-color: #443C68;*/
    background-color: #250645;
    background: #000;
    overflow-x: hidden;
}
.container{
    width: 20em;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
    /*color: #a3a380;*/
    color: var(--font-color);
}

/*@keyframes border-rotate{
    from{
        box-shadow: 0px 0px 0px #aa14b2, 0px 0px 0px #3b14b2;
    }
    to{
        box-shadow: -10px -10px 60px #aa14b2, 20px 20px 60px #3b14b2;
    }
}*/

.content{
    height: 100%;
    width: 100%;
    border-radius: 90px;
    position: relative;
    background-color: #250645;
    /*border: 3px solid #d6ce93;*/
    /*box-shadow: 4px 3px 30px #b4b9eb;*/
    box-shadow: -10px -10px 60px #aa14b2, 20px 20px 60px #3b14b2;
    border: 3px solid #2f094a;
    text-align: center;
    padding-top: 10%;
    animation: border-rotate 2s;

}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.content::after, .content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent 90%,#aa14b2);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 7px;
    border-radius: 90px;
    animation: 7s spin linear infinite;
}
.content::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to{
        --angle : 360deg;
    }
}

.inputField{
    width: 100%;
    height: 35%;
 
}

.input{
    width: 50%;
    height: 10%;
    margin: 2%;
    padding: 15px;
    
    font-size: 1.3rem;
    border: none;
    /*color: #a3a380;*/
    /*border-bottom: 5px solid #d6ce93 ;*/
    color: var(--font-color);
    border-radius: 20px;
    background-color: var(--input-color);
}
.input:hover{
    box-shadow: 0px 0px 15px #aa14b2, 0px 0px 15px #3b14b2;
}
.input:focus{
    
    outline: none;
    
}
.bottomLogin{

    display: flex;
}

.remember{
    align-self: center;
    margin-left: 5%;
    margin-right: 20%;
}

.forgot{
    align-self: center;
    font-size: 1rem;
    text-align: end;
    
}
.forgot a{
    text-decoration: none;
    color: rgb(20, 20, 20)
}

.bottomLogin{
    width: 100%;
    height: 10%;
    margin-top: 5%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Submit {
    margin-top: 7%;
    padding: 2% 4%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    /*background-color: #d6ce93;*/
    /*color: #a3a380;*/
    background-color: var(--input-color);
    color: var(--font-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Submit:hover{
    /*color: #a3a380cf;*/
    /*background-color: #d6ce93d3;*/
    color: var(--font-color);
    /*background-color: #2d174dfc;*/
    background-color: #fff;
}
.Submit:active{
    color: #a5a4a4;
    background-color: #32195447;
}
